@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple: #7f00ff;
  --pink: #e100ff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.shadow-bottom {
  box-shadow: 0 1px 3px -1px var(--purple);
}

.border-bottom {
  border-bottom: 1px;
  border-style: solid;
  border-color: var(--pink);
}

.button {
  transition: 0.5;
  font-size: 16px;
  position: relative;
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.75em 1.75em;
  border-radius: 50px;
  display: inline-block;
  font-weight: 550;
  background-size: 300% 100%;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  height: 48px;
}

.button:hover {
  background-position: 100% 0;
}

.primary {
  border: none;
  color: #fff;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    var(--purple),
    var(--pink),
    var(--purple)
  );
  background-image: linear-gradient(
    to right,
    var(--purple),
    var(--pink),
    var(--purple)
  );
}

.secondary {
  border-width: 2px;
  border-color: black;
  color: black;
  /* background-image: linear-gradient(to right, white, white, silver); */
}

.border {
  border-radius: 16px;
  border-style: solid;
  border-color: var(--pink);
  box-shadow: 0 1px 3px -1px var(--purple);
}

.color-purple {
  background-color: var(--pink);
}

.square {
  transition: all 0.3s ease-in-out;
  /* /background-color: var(--pink); */
}

.shift {
  transform: scale(1.22);
}

.active-button {
  background-color: lightgreen;
}

.start-point {
  background-color: var(--purple);
}
th[start] {
  background-color: var(--purple);
}
